<header class="header-links">
	<a [ngStyle]="router.url=='/home'?background:{}" routerLink="/home">
		<p [ngStyle]="router.url=='/home'?colorText:{}">Home </p>
	</a>
	<a [ngStyle]="router.url=='/details'?background:{}" routerLink="/details">
		<p [ngStyle]="router.url=='/details'?colorText:{}">Détails produits</p> 
	</a> 
	<a [ngStyle]="router.url=='/manageStocks'?background:{}" routerLink="/manageStocks"> 
		<p [ngStyle]="router.url=='/manageStocks'?colorText:{}"> Tableaux produits </p> 
	</a> 
	<a [ngStyle]="router.url=='/dashboard'?background:{}" routerLink="/dashboard"> 
		<p [ngStyle]="router.url=='/dashboard'?colorText:{}"> données à l'historique</p> 
	</a>

</header>
